<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dive Stop</title>

  <script src="/libs/angular/angular.js"></script>


  <script src="//maps.google.com/maps/api/js"></script>
  <script src="/libs/ngmap/build/scripts/ng-map.js"></script>
  
 
  <script src="app.js"></script>

  <link rel="stylesheet" href="style.css">
</head>

<body ng-app="divestop">
  <h1>Dive Stop</h1>
  <div ng-controller="OurMapController">
    <form ng-submit="geocodeAddress()">
      <input type="text" ng-model="searchBoxText">
      <button ng-click='geocodeAddress()'>search</button>
    </form>
    <map center='33.688895, 130.295930' zoom="15"></map>
    <input type="text" ng-model="currentSite.name">
    <div id="siteInformation" ng-show="showSiteInfo">
      <h2>{{currentSite.name}}</h2>
      <p>{{currentSite.description}}</p>
      <div class="stats">
        <div>{{currentSite.maxDepth}}</div>
      </div>
      <ul>
        <li ng-repeat="life in currentSite.aquaticLife">{{life}}</li>
      </ul>
      <ul>
        <li ng-repeat="feature in currentSite.features">{{feature}}</li>
      </ul>
      <ul>
        <li ng-repeat="picture in currentSite.pictures"><img ng-src="{{picture}}" alt=""></li>
      </ul>
    </div>
  </div>

<!--       name: "Akase",
  location: "Shikanoshima, Fukuoka, Japan"
  coordinates: "33.688895, 130.295930",
  maxDepth: 12,
  description: "A lovely cove that is perfect for beginner divers./
    It starts out shallow with pool like conditions good for training, /
    and then allows for divers to swim out and enjoy a relaxed dive",
  aquaticLife: ["fish"],
  features: ['coral', 'shallow', 'calm'],
  pictures: ['url1', 'url2'] -->
</body>
</html>