html
  font-family: "Lato", Arial, sans-serif

footer
  position: fixed
  height: 35px
  width: 25%
  padding-top: 10px
  background-color: rgba(8, 87, 125, 1)
  font-size: 12px
  bottom: 0
  left: 0
  color: rgba(171, 163, 163, 0.55)

.submit
  background-color: #064A6B

.btn-floating
  margin-top: 15px

#barsvisited
 
  background-color: rgba(9, 103, 148, 1)
  // position: absolute
  color: black
  font-size: 8px
  height: 100vh
  z-index: 100
  position: fixed



#sidebar
  padding-top: 80px
  padding-bottom: 50px
  text-align: center

  overflow: scroll
  background-color: rgba(9, 103, 148, 1)
  // position: absolute
  color: white
  font-size: 16px
  height: 100vh
  z-index: 100
  position: fixed

#sidebar
  a
    text-decoration: none
    color: white
  a:hover
    color: #eeeeee

.header
  position: fixed
  width: 25%
  top: 0
  left: 0
  padding-top: 10px
  padding-bottom: 10px
  margin-bottom: 20px
  background-color: rgba(8, 87, 125, 0.85)
  text-align: center
  font-size: 32px

#welcome
  background-image: url('/images/divebar1.jpg')
  margin-left: -10px
  margin-right: -10px
  background-repeat: no-repeat
  background-size: 100% 100vh
  overflow-y: hidden
  overflow-x: hidden

.barList 
  li 
    height: 50px
    margin-bottom: 20px
    background-color: #eeeeee
    border-bottom: 1px solid #212121
    font-size: 20px
    padding-top: 10px
  p 
    margin-top: 4px

table
  td 
    padding-left: 20px
    padding-right: 20px
    padding-top: 20
    padding-bottom: 20
    font-size: 16px
    margin-top: 40


  






#main 
  margin-left: 25vw

.userHeader
  margin-bottom: 10px
  margin-left: -10px
  margin-right: -10px
  border-bottom: 1px solid rgba(238, 238, 238, 0.24)
  font-size: 18px

.profile-picture
  border-radius: 100%
  border: 2px solid #CCC3C3

  text-align: center
  height: 75px
  width: 75px

.searchBar
  padding-top: 45vh
  padding-bottom: 45vh
  padding-left: 10vw
  padding-right: 10vw
  // padding-left: 10vw

#search
  background-color: white
  opacity: 0.9
  box-shadow: none
  border: 1px solid #e4e4e4
  // margin-top: 20px
  font-size: 16px
  text-indent: 10px



.logoContainer
  margin: 0 20px

.navColor
  background-color: rgba(0, 131, 143, 0.8)
  z-index: 100


.brand-logo
  font-family: 'Lato', Arial, serif
  font-weight: 700

body.splash
  overflow: hidden

.target
  color: rgba(0, 131, 143, 0.8)

.star
  color: rgba(0, 131, 143, 0.8)





@media only screen and (max-width: 994px)
  .splash
    .row 
      width: 100%
    .row .breaker
      display: block !important

.addDiveSite
  margin: -45px 50px 80px 0

@media only screen and (min-width: 601px)
  nav
    height: 64px
  map
    height: 70vh

@media only screen and (max-height: 600px)
  nav
    height: 64px
  map
    height: 50vh

@media only screen and (max-width: 600px)
  nav
    height: 112px
  map
    height: 50vh

