html
  font-family: "Lato", Arial, sans-serif

body
  background-image: url('/images/divebar1.jpg')
  background-size: cover


footer
  position: fixed
  height: 35px
  width: 25%
  padding-top: 10px
  background-color: #08577D
  font-size: 12px
  bottom: 0
  left: 0

.btn-floating
  margin-top: 15px

#sidebar
  // background-color: #424242
  
  background-color: rgba(9, 103, 148, 1)
  // position: absolute
  color: white
  font-size: 20px
  height: 100vh
  z-index: 100
  position: fixed

#sidebar
  a
    text-decoration: none
    color: white
  a:hover
    color: black

.header
  margin-top: 20px
  text-align: center
  font-size: 32px

#welcome
  // background-image: url('/images/divebar1.jpg')
  background-repeat: cover

#main 
  margin-left: 25vw



.searchBar
  padding-top: 45vh
  padding-bottom: 45vh
  padding-left: 10vw
  padding-right: 10vw
  // padding-left: 10vw

#search
  background-color: white
  opacity: 0.9
  box-shadow: none
  border: 1px solid #e4e4e4
  // margin-top: 20px
  font-size: 16px
  text-indent: 10px

#search:visited
  color: black
  // right: 10vw
  // background-image: url('/images/divebar1.jpg')
// .head 
//   ul
//     margin: 0 10px

// .head ul li
  // margin: 0 5px

// .currentView
//   margin-left: -50px
//   margin-top: -15px
//   z-index: 0

.logoContainer
  margin: 0 20px

.navColor
  background-color: rgba(0, 131, 143, 0.8)
  z-index: 100


.brand-logo
  font-family: 'Lato', Arial, serif
  font-weight: 700

body.splash
  overflow: hidden

// .splash
//   nav
//     background-image: url('https://farm3.staticflickr.com/2492/4143196658_eda660fed9_o_d.jpg')
//     background-size: 100vw
//     background-position: center
//     height: 100vh
//     padding-top: 40vh
//   .mapContainer
//     visibility: hidden
//   #search
//     background-color: #fff
//   .row 
//     // margin-left: 50vw
//     width: 75%
//   .searchContainer
//     margin-left: 50vw
//   .brand-logo
//     margin-left: 20vw
//     text-shadow: 1px 1px 8px #555
//     font-size: 42px

    






// .searchContainer 
//   input
//     padding-bottom: 30px
//   label
//     padding-bottom: 30px
//   i
//     padding-bottom: 30px

// .searchContainer:hover
//   background-color: rgba(0, 131, 143, 0.8)


@media only screen and (max-width: 994px)
  .splash
    .row 
      width: 100%
    .row .breaker
      display: block !important

.addDiveSite
  margin: -45px 50px 80px 0

@media only screen and (min-width: 601px)
  nav
    height: 64px
  map
    height: 70vh

@media only screen and (max-height: 600px)
  nav
    height: 64px
  map
    height: 50vh

@media only screen and (max-width: 600px)
  nav
    height: 112px
  map
    height: 50vh

