<div class="mapContainer" ng-controller="OurMapController">
  <!-- <map center="37.773972, -122.431297" zoom="14" on-click="moveNewMarker()" scrollwheel="false"></map> -->

  <div class="addDiveSite">
    <a ng-show="!toggle" ng-click="toggle = !toggle" class="right btn waves-effect waves-light">Add Dive Site</a>
    <a ng-show="toggle" ng-click="toggle = !toggle" class="right btn waves-effect waves-light">See Nearby Dives</a>
  </div>

  <div ng-show="!toggle">
      <div ng-include src="'../divesite/divesite.html'"></div>
  </div>

  <div ng-show="toggle">  
    <div ng-include src="'../add/add.html'"></div>
  </div>

</div>
