<div class="mapContainer" ng-controller="OurMapController">
  <map zoom="14" on-click="moveNewMarker()" scrollwheel="false"></map>
  <div class="addDiveSite">
    <a ng-click="toggleForm()" class="right btn waves-effect waves-light">Add Dive Site</a>
  </div>
  <h3>Nearby Bars</h3>

Click me: <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide"><br/>
<div>
  Show:
  <div class="check-element animate-show" ng-show="checked">
    <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
  </div>
</div>
<div>
  Hide:
  <div class="check-element animate-show" ng-hide="checked">
    <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
  </div>
</div>


  <div class="animate-show" ng-show="toggle">
    <table class="highlight">
      <tbody>
        <tr>
          <td><i class="fa fa-map-signs"></i></td>
          <td>Sad Bar</td>
          <td><span class="btn">Check In</span></td>
          <td><span class="btn">Rate</span></td>
        </tr>
        <tr>
          <td><i class="fa fa-map-signs"></i></td>
          <td>Jellybean</td>
          <td><span class="btn">Check In</span></td>
          <td><span class="btn">Rate</span></td>
        </tr>
        <tr>
          <td><i class="fa fa-map-signs"></i></td>
          <td>Lollipop</td>
          <td><span class="btn">Check In</span></td>
          <td><span class="btn">Rate</span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
