
<div class="col m8 s12">
  <h3>{{currentSite.site.name}}</h3>
<p>{{currentSite.site.description}}</p>
</div>
<div class="col m4 s12">
  <div class="card-panel blue-grey lighten-2">
    <h6>Maximum Depth:</h6>
    <div>{{currentSite.site.maxDepth}} meters</div>
    <h6>Aquatic Life:</h6>
    <div class="chip" ng-repeat="life in currentSite.site.aquaticLife">{{life}}</div>
    <h6>Features:</h6>
    <div class="chip" ng-repeat="feature in currentSite.site.features">{{feature}}</div>
  </div>
</div>
<div ng-repeat="picture in currentSite.site.pictures" class="col s12 m6 l4">
  <img class="responsive-img" ng-src="{{picture}}" alt="">
</div>
